---
layout: single
title: About
permalink: /
author_profile: true
classes: wide
---

I am a Ph.D. candidate at the Department of Economics at Lund University. I completed my M.Sc. in Economics at Lund University in 2022. Currently, I am visiting Dorothea Kübler at WZB in Berlin.

My research is centered around Behavioral Economics, Experimental Economics and Economics of Education. I am particulary interested in the role of behavioral channels on educational choice. 
<br><br>

<h2>Latest Posts</h2>

<div class="tag-post-grid">
  {% assign visible_posts = site.posts | where_exp: "post", "post.hidden != true" %}

  {% for post in visible_posts limit:6 %}
    {% assign teaser = post.header.teaser | default: post.header.image %}

    <div class="tag-post-card">

      {% if teaser %}
        <a class="tag-post-image-link" href="{{ post.url | relative_url }}">
          <img
            class="tag-post-teaser"
            src="{{ teaser | relative_url }}"
            alt="{{ post.title | escape }}"
          >
        </a>
      {% endif %}

      <a class="tag-post-main-link" href="{{ post.url | relative_url }}">
        <h3>{{ post.title }}</h3>
      </a>

      {% if post.date %}
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%B %-d, %Y" }}
        </time>
      {% endif %}

      {% if post.tags %}
        <div class="post-tags">
          {% for tag in post.tags %}
            <a class="post-tag" href="{{ '/tags/#' | append: tag | slugify | relative_url }}">
              {{ tag }}
            </a>
          {% endfor %}
        </div>
      {% endif %}

      {% if post.excerpt %}
        <p>{{ post.excerpt | markdownify | strip_html | truncate: 130 }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>

<p>
  <a href="{{ '/posts/' | relative_url }}" class="btn btn--primary">
    View all posts
  </a>
</p>
